body {
  overflow-x: hidden;
}

h1 {
  margin: 0;
}

#home {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(
    270deg,
    rgba(205, 240, 255, 1) 0%,
    rgba(113, 188, 255, 1) 100%
  );
}

.welcome-text-container {
  /* border: 2px solid black; */
  width: 68.5vw;
  height: 50vh;
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-20%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome-text {
  color: white;
  margin: 2px;
  font-size: 10vmin;
}
