body {
  display: block;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: linear-gradient(270deg, rgba(205,240,255,1) 0%, rgba(113,188,255,1) 100%);
  height: 7.5vh;
  position: -webkit-sticky; /* safari */
  position: sticky;
  top: 0;
  z-index: 99;
}

.main-nav li {
  float: left;
}

.vertical-nav {
  position: sticky;
  height: 8vh;
}

.vertical-nav-active {
  position: sticky;
  display: block;
}


.vertical-nav li {
  position: relative;
  z-index: 100;
  width: 100vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
  font-size: 2vh;
  height: 2vh;
}

.vertical-nav li:nth-child(1) {
  animation: slide-in-right-nav 0.8s ease-in-out both;  
}
.vertical-nav li:nth-child(2) {
  animation: slide-in-right-nav 0.8s ease-in-out both;
  animation-delay: 0.1s;
}
.vertical-nav li:nth-child(3) {
  animation: slide-in-right-nav 0.8s ease-in-out both;
  animation-delay: 0.2s;
}
.vertical-nav li:nth-child(4) {
  animation: slide-in-right-nav 0.8s ease-in-out both;
  animation-delay: 0.3s; 
}


.main-nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 2vmin 16px;
  text-decoration: none;
  font-size: 2.5vh;
}

.vertical-nav li a {
  color: white;
  font-size: 2.5vh;
}


.main-nav a:hover {
  color: rgb(18, 92, 157);
  cursor: pointer;
}

.vertical-nav li:hover{
  color: rgb(18, 92, 157);
  cursor: pointer;
}

.nav-bars {
  position: absolute;
  height: 5vw;
  float: right;
  left: 1vw;
  cursor: pointer;
}


@media screen and (max-width: 500px) {
  .main-nav li a {
    display: none;
  }
  .navbars {
    display: inline;
  }
}


@keyframes slide-in-right-nav {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
} 

.hide {
  display: none;
}