body {
  display: block;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: linear-gradient(270deg, rgba(205,240,255,1) 0%, rgba(113,188,255,1) 100%);
  height: 7.5vh;
  top: 0;
  z-index: 99;
}

.main-nav {
  position: -webkit-sticky; /* safari */
  position: sticky;
  width: 100vw;
  max-width: 100%;
}

.main-nav li {
  float: left;
}

.vertical-nav {
  position: -webkit-sticky; /* safari */
  position: sticky;
  height: 8.5vh;
}

.vertical-nav-active {
  position: -webkit-sticky; /* safari */
  position: sticky;
  display: block;
}


.vertical-nav li {
  position: relative;
  z-index: 100;
  width: 100vw;
  max-width: 100%;
  padding-top: 2vh;
  padding-bottom: 2vh;
  font-size: 2vh;
}

.collapsing-div {
  background: linear-gradient(270deg, rgba(205,240,255,1) 0%, rgba(113,188,255,1) 100%);
  transition: height 500ms ease-in-out;
  height: 0vh;
}

.bars {
  height: 4vh;
}

.main-nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 2vmin 16px;
  text-decoration: none;
  font-size: 2.5vh;
}

.vertical-nav li a {
  color: white;
  font-size: 2.5vh;
}

.vertical-nav li:hover a {
  color: rgb(18, 92, 157);
  cursor: pointer;
}


.main-nav a:hover {
  color: rgb(18, 92, 157);
  cursor: pointer;
}

.collapsing-div li:hover{
  color: rgb(18, 92, 157);
  cursor: pointer;
}

.nav-bars {
  position: absolute;
  height: 5vw;
  left: 1vw;
  cursor: pointer;
  top: 50%;
  transform: translate(0%, -50%);
}

.nav-bars:hover{
  color: rgb(18, 92, 157);
  cursor: pointer;
}


@media screen and (max-width: 500px) {
  .main-nav li a {
    display: none;
  }
  .navbars {
    display: inline;
  }
}

.collapsing-div li .active {
  opacity: 0;
  animation: fade-in 1s ease-in-out both;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} 


.hide {
  display: none;
}