@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

#socials {
  position: relative;
  margin: 0;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
}

.socials-header {
  font-size: 5vw;
  text-align: center;
  font-family: "Indie Flower", cursive;
}

